/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19. maj 2020, 08.37.26
    Author     : BBran
*/


*{
    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;
    -fx-grumsen-baggrund: #afbbdd;
}

.root {

    -fx-background-color: white; 

}

.titled-pane .title {
    -fx-background-color: transparent ;
    -fx-font-weight: bold;
    -fx-border-color: -fx-grumsen; 
    -fx-border-width: 1 0 0 0; 
}

.titled-pane .content {
    -fx-background-color: transparent;
}

.titled-pane > .content > * {
    -fx-padding: 2px;
}

.titled-pane {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}


.time-picker-popup {
    -fx-background-color: -fx-grumsen-lysere;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-grumsen-lysere;
}

.date-picker-popup > * > .spinner > .label {
     -fx-font-size: 23;
}


#btnEdit, #btnCancel{
    -fx-border-width: 2px;
    -fx-background-color:   -fx-grumsen-lysere;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-transition-duration: 0.4s;
}

#btnCancel:hover, #btnEdit:hover{
    -fx-border-color: -fx-grumsen;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-grumsen;
}

#btnCancel:pressed, #btnEdit:pressed{
    -fx-background-color: -fx-grumsen-lysere;
}


#paneEdit {
    -fx-background-color: -fx-grumsen-baggrund;
}

#hbox_head {
    -fx-background-color: transparent; 
    -fx-border-color: -fx-grumsen; 
    -fx-padding: 2px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
}

#hboxHeader {
    -fx-background-color: transparent; 
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-alignment: CENTER_LEFT;
    
}

#logHBox {
    -fx-background-color: white;
    -fx-border-color: -fx-grumsen;
    -fx-background-radius: 3px; 
    -fx-border-radius: 3px;
}

#logVBox {
    -fx-spacing: 2px;
}

#vboxTasks {
    -fx-spacing: 2px;
}

#lblClientname {
    -fx-alignment: TOP_RIGHT;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: darkgrey;
    -fx-padding: 5px;
}

#lblProjectnavn {
    -fx-text-fill: -fx-grumsen;
    -fx-font-weight: bold;
}

#paneTime {
    -fx-border-color: -fx-grumsen; 
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}