/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19. maj 2020, 08.37.26
    Author     : BBran
*/


*{

    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;

}

.root {

-fx-background-color: white; 

}

.titled-pane .title {
    -fx-background-color: transparent ;
    -fx-font-weight: bold;
}

.titled-pane .content {
    -fx-background-color: transparent;
}

.titled-pane {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#paneEdit {
    -fx-background-color: white;
}

#hbox_head {
    -fx-background-color: transparent; 
    -fx-border-color: -fx-grumsen; 
    -fx-padding: 2px; 
    -fx-border-radius: 5px; 
    -fx-background-radius: 5px;
}

#hboxHeader {
    -fx-background-color: -fx-grumsen-lysere; 
    -fx-border-color: #8c8c8c; 
    -fx-background-radius: 3px; 
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
}