/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19. maj 2020, 08.37.26
    Author     : BBran
*/

.titled-pane .title {
    -fx-background-color: transparent ;
    -fx-font-weight: bold;
}
.titled-pane {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}

.table-view .column-header {
    -fx-background-color:  #bdbdbd;
    -fx-font-weight: normal;
}

.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:  transparent;
}

.table-view {
  -fx-table-cell-border-color: transparent;
  -fx-background-color: transparent;
}

.table-cell{
    -fx-alignment: CENTER;
}
.table-row-cell{ 
    -fx-table-cell-border-color: transparent;
    -fx-background-color: white;
}

.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 0 0 ;
    -fx-table-cell-border-color: transparent;
}
