/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28. apr. 2020, 15.51.27
    Author     : Charlotte
*/

*{
    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;
    
    
}


.anchorpane {
    
	-fx-pref-width: 150px;
	-fx-max-width: 150px;
	-fx-min-width: 150px;
	-fx-pref-height: 500px;
        -fx-background-color: white;
        -fx-background-repeat: no-repeat;
	
        
}

.glyph-icon{
    -fx-fill: -fx-grumsen;
    
}

.button{
        -fx-text-fill: -fx-grumsen;
	-fx-font-size: 16;
        -fx-font-weight: bold;
	-fx-background-color: white;
	-fx-pref-height: 35px;
	-fx-pref-width: 150px;
	-fx-background-repeat: no-repeat;
	-fx-border-color: transparent transparent -fx-grumsen transparent;
	-fx-border-width: 3px;
	-fx-transition-duration: 0.4s;
	-fx-text-align: center;
         

}

.button:hover{
	-fx-background-color: -fx-grumsen;
	
	-fx-text-fill: white;
}

.button:hover .glyph-icon{
    
    -fx-fill: white;
    
}

.button:pressed{
	
	-fx-background-color: -fx-grumsen-lysere;
	
}

.label{
    
    -fx-font-size: 16;
    -fx-text-fill: -fx-grumsen;
    -fx-font-weight: bold;
}

