/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27. maj 2020, 09.52.48
    Author     : Charlotte
*/

*{

    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;
    -fx-grumsen-baggrund: #afbbdd;

}
.root{
    
    -fx-background-color: white;
    
}

.button{

    -fx-border-width: 2px;
    -fx-background-color:   -fx-grumsen-lysere;

    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-transition-duration: 0.4s;



}


.button:hover{

    -fx-border-color: -fx-grumsen;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-grumsen;

}

.button:pressed{

    -fx-background-color: -fx-grumsen-lysere;

}

.jfx-check-box .jfx-rippler{
    
      -fx-border-color: -fx-grumsen;
    
}


.jfx-tree-table-view  .column-header-background  .label{
    -fx-alignment: CENTER_LEFT;
    -fx-content-display: left;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: normal;
  
}

.jfx-tree-table-view > .column-header-background, 
.jfx-tree-table-view > .column-header-background > .filler { 
    -fx-background-color: -fx-grumsen-baggrund;
    -fx-size: 15 ;    

  
}




.jfx-tree-table-view:row-selection{
    -fx-background-color: -fx-grumsen-lysere;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    
    
}