/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30. apr. 2020, 13.19.42
    Author     : Charlotte
*/

*{
    
    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;
    
}

.label{
    
    -fx-font-size: 16;
    -fx-text-fill: -fx-grumsen;
    -fx-font-weight: bold;

   
    
}



#fixedlabel{
        
    display: inline-block;
    -fx-width: 150px;
    
     -fx-text-fill: -fx-grumsen;
     -fx-text-alignment:right;
     -fx-content-display: right;
      float: right; 
     
    
}

#inputlbl{
    
    -fx-underline:true; 
    -fx-label-padding: 0 0 0 10;
    
}

.list-cell {
    
    -fx-font-size: 16;
    -fx-text-fill: -fx-grumsen;
   
   
    
}

.list-cell:hover{  
    -fx-border-width: 3px; 
    -fx-border-color: -fx-grumsen;

    -fx-background: -fx-grumsen;
    -fx-text-fill: white;
  
}

.list-cell:filled:selected{
    
    
    -fx-background:-fx-grumsen-lysere;
    -fx-text-fill: white;
 
    
}

.list-view .list-cell:even {
    
    
    
}

.list-view .list-cell:odd{
    
    
}


.jfx-list-view{
    
      -fx-focus-traversable: false;
      -fx-border-width: 3px; 
      -fx-border-color: -fx-grumsen;
      -fx-border-radius: 5px;
    
}
       
    

