/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29. maj 2020, 07.56.00
    Author     : Brian Brandt
*/

*{
    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;
    -fx-grumsen-baggrund: #afbbdd;
}

.root {

    -fx-background-color: white; 

}

.titled-pane .title {
    -fx-background-color: #cbd6f5;
    -fx-background-radius: 0px;
    -fx-font-weight: bold;
    -fx-border-color: -fx-grumsen-lysere;
    -fx-border-width: 0 0 1 0;
}

.titled-pane .content {
    -fx-background-color: transparent;
    -fx-border-color: -fx-grumsen-lysere;
    -fx-border-width: 0 0 1 0;
}


.titled-pane {
    -fx-background-color: transparent;
    -fx-box-border: transparent;
}

.billable {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.billable.true {
    -fx-text-fill: -fx-grumsen;
}
.billable.false {
    -fx-text-fill: #dadde3;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: white;
    -fx-border-color: -fx-grumsen-lysere;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0px;
    -fx-padding : 0 10 0 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding : 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #cbd6f5;
    -fx-background-insets : 1, 0, 0;
    -fx-background-radius : 0px;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color : -fx-grumsen-lysere;
    -fx-background-insets : 1, 0, 0;
    -fx-background-radius : 0px;
}



#hboxToday, #hboxDays {
    -fx-background-color: -fx-grumsen-lysere; 
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 4 4 0 0;
    -fx-border-color: -fx-grumsen;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 5 0 5;
}

#logHBox, #logHBoxToday {
    -fx-background-color: #f7f9ff;
    -fx-pref-width: 568px;
    -fx-max-width: 568px;
}

#logHBoxToday {
    -fx-padding: 0px;
}

#logVBox, #vboxToday {
    -fx-spacing: 1px;
    -fx-padding: 0px;
    -fx-background-color: -fx-grumsen-lysere;
}

#vboxToday {
    -fx-spacing: 1px;
    -fx-padding: 0 0 1 0;
    -fx-pref-width: 568px;
    -fx-max-width: 568px;
}

#vboxDays {
    -fx-spacing: 1px;
    -fx-padding: 1 0 0 0;
}