/* 
    Author     : Brian Brandt, Kim Christensen, Troels Klein, René Jørgensen &
                 Charlotte Christensen
*/

*{
    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;


}


.button{

    -fx-border-width: 3px;
    -fx-border-radius: 10px, 50px; 

    -fx-background-radius: 10px 50px; 
    -fx-background-color: -fx-grumsen;



    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-font-weight: bold;

    -fx-pref-height: 100px;
    -fx-pref-width: 150px;
    -fx-transition-duration: 0.4s;
    -fx-text-align: center;


}


.button:hover{


    -fx-border-radius: 10px 50px; 
    -fx-border-color: -fx-grumsen;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-grumsen;



}

.button:hover .glyph-icon{

    -fx-fill: white;

}

.button:pressed{

    -fx-background-color: -fx-grumsen-lysere;

}