/* 
    Author     : Brian Brandt, Kim Christensen, Troels Klein, René Jørgensen &
                 Charlotte Christensen
*/

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0 7px 0 0;
}

.tasks {
    -fx-font-size: 12px;
}

.tasks .titled-pane > .title > .arrow-button {
    visibility: hidden;
    -fx-pref-width: 0px;
    -fx-padding: 0;
}

.tasks .titled-pane {
    -fx-Expanded: false;
    -fx-spacing: 0;
    -fx-padding: 0;
}

.tasks .titled-pane HBox {
    -fx-spacing: 3px;
    -fx-alignment: center_left;
}

.tasks .titled-pane > .title {
    -fx-background-color: #f5f7f7;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #DDD;
    -fx-padding: 7px 0px 7px 10px;
    -fx-background-insets: 0 0 0 0, 0 0 0 4px;
}

.tasks .titled-pane > .title:hover,
.tasks .titled-pane > .content .title:hover {
    -fx-background-color: #435a9a, #e4eff1;
}

.tasks .titled-pane > .title .numChildren {
    -fx-background-color: #4b7cad;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-min-width: 20px;
    -fx-alignment: center;
    -fx-translatex: -2px;
}

.tasks .titled-pane > .title .numChildren:hover {
    -fx-background-color: skyblue;
}

.tasks .titled-pane:expanded > .title .numChildren {
    -fx-background-color: skyblue;
}

.tasks .titled-pane > .title .project {
    -fx-prompt-text-fill: #8D8D8D;
    -fx-pref-width: 125px;
}

.tasks .titled-pane > .title .billable {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-width: 15px;
}

.tasks .titled-pane > .title .billable.true {
    -fx-text-fill: #4b7cad;
}

.tasks .titled-pane > .title .billable.false {
    -fx-text-fill: #CCC;
}

.tasks .titled-pane > .content > * {
    -fx-padding: 0px;
}

.tasks .titled-pane > .content {
    -fx-border-width: 0;
}

.tasks .titled-pane > .content .title {
    -fx-background-color: #FEFEFE;
}

.tasks .spacer {
    -fx-pref-height: 20px;
    -fx-border-color: #DDD;
    -fx-border-width: 3px 0px 0px 0px;
}

.tasks .wrapper {}
.tasks .taskPane {}

.tasks .group {
    -fx-padding: 5px 10px 5px 10px;
    -fx-alignment: center;
    -fx-background-color: #afbbdd;
    -fx-background-radius: 4px 4px 0 0;
    -fx-border-radius: 4px 4px 0 0;
    -fx-text-fill: #333;    
}

.tasks .group .name {
    -fx-font-size: 14px;
}

.tasks .group .total {
    -fx-font-size: 11px;
}

.tasks .titled-pane > .title .name {
    -fx-pref-width: 185px;
    -fx-spacing: 3px;
}

.tasks .time {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #666;
}

.tasks .titled-pane > .title .start {
    -fx-font-size: 12px;
    -fx-pref-width: 30px;
    -fx-alignment: center_right;
}

.tasks .titled-pane > .title .end {
    -fx-font-size: 12px;
    -fx-pref-width: 50px;
}

.tasks .titled-pane .time {
    -fx-min-width: 65px;
}

.tasks .titled-pane > .title .edit {
    -fx-graphic: url('../Icons/edit.png');
    -fx-pref-width: 15px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-opacity: 0.80;    
}

.tasks .titled-pane > .title .edit:hover {
    -fx-opacity: 0.33;
    -fx-cursor: hand;
}

.tasks .titled-pane > .title .editDisabled {
    -fx-graphic: url('../Icons/edit.png');
    -fx-pref-width: 15px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-opacity: 0.20;    
}

.tasks .titled-pane > .title .continueTimer {
    -fx-graphic: url('../Icons/play.png');
    -fx-pref-width: 20px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0 10px 0 0;
    -fx-opacity: 0.80;
}

.tasks .titled-pane > .title .continueTimer:hover {
    -fx-opacity: 0.33;
    -fx-cursor: hand;
}

.startButton {
    -fx-cursor: hand;
    -fx-background-color: #4fae43;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-radius: 4px 4px 4px 4px;
    -fx-border-radius: 4px 4px 4px 4px;
}

.stopButton {
    -fx-cursor: hand;
    -fx-background-color: #cc0000;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-radius: 4px 4px 4px 4px;
    -fx-border-radius: 4px 4px 4px 4px;
}

.timerPane {
    -fx-background-color: #f5f7f7;
    -fx-background-radius: 4px;
}