/* 
    Author     : Brian Brandt, Kim Christensen, Troels Klein, René Jørgensen &
                 Charlotte Christensen
*/

*{
    -fx-grumsen : #435a9a; 
    -fx-grumsen-lysere: #768bc6;
    -fx-grumsen-baggrund: #afbbdd;
}

.root{
    -fx-background-color: white;
}

.label{
    -fx-font-size: 12;
    -fx-text-fill: black;
}

.chart .chart-title{
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-alignment: TOP_CENTER;
}

.data0.chart-pie{ -fx-pie-color: -fx-grumsen; }
.data1.chart-pie{ -fx-pie-color: -fx-grumsen-lysere; }

.button{
    -fx-border-width: 2px;
    -fx-background-color:   -fx-grumsen-lysere;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-transition-duration: 0.4s;
}

.button:hover{
    -fx-border-color: -fx-grumsen;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-grumsen;
}

.button:pressed{
    -fx-background-color: -fx-grumsen-lysere;
}

.table-view{
    -fx-focus-traversable: false;
    -fx-border-width: 2px; 
}

.table-view .column-header-background{
    -fx-border-color:  -fx-grumsen-baggrund;
    -fx-background-color:  -fx-grumsen-baggrund;
}

.table-view .column-header {
    -fx-background-color:  -fx-grumsen-baggrund;
}

.table-view .column-header-background .label{
    -fx-alignment: CENTER_LEFT;
    -fx-content-display: left;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-font-weight: normal;
}

.date-picker-popup .arrow-button .arrow{
    -fx-backgruond-color: black;
}

.table-view .filler{
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: -fx-grumsen-lysere;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-grumsen-lysere;
}

.date-picker-popup > * > .spinner > .label {
    -fx-font-size: 23;
}






